<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Beauty Salon</title>
    <link rel="icon" type="image/x-icon" href="../static/images/glory/favicon.ico">

    <link rel="stylesheet" href="../static/css/apps.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/color.css">
    <link rel="stylesheet" href="../static/css/responsive.css">

</head>
<body>
<!-- topbar -->

<div class="topbar" style="width: 70px">
    <div style="width: 100px" size="10px" class="container">
        <div class="row">
            <div class="col-md-12">
                <header>
                    <div class="logo">
                        <a href="/" title="index.html"><img src="../static/images/logo-black.png" alt=""></a>
                    </div>
                    <nav>

                        <h5 style="color: green" ; th:text="${message}"></h5>

                        <font style="size: 100px"> <a class="log-in"><a href="/sign"><i class="flaticon-unlocked"
                                                                                        th:text="#{login}"></i> </a></a>
                        </font>


                    </nav>
                </header>
            </div>
        </div>
    </div>
</div>
</ul>
</div>
</div><!-- Responsive Header -->


<section>
    <div class="featured-area">
        <ul class="featured-caro">
            <li><img src="/static/images/1674518306_catherineasquithgallery-com-p-fon-dlya-reklami-salona-krasoti-86.jpg" alt=""></li>
            <li><img src="/static/images/1667329988_11-idei-club-p-dizain-vizitok-salona-krasoti-oboi-11.jpg" alt=""></li>
        </ul>
    </div>
</section><!-- feature area -->


</div>

<script src="/static/js/apps.min.js"></script>
<script src="/static/js/script.js"></script>

</body>
</html>